<a href="https://colab.research.google.com/github/mariem-elfouzi/check7/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question 1
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index =labels)
print(df)
df1=df.head(3)
print(df1)

In [ ]:
#question 2
df.dropna(subset=["score"], inplace=True)
print(df)

In [ ]:
#question 3  
df3=df.loc[ : ,"name":"score"]
print(df3)

In [ ]:
#question 4
dicti2={'name' : "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
label2=['k']
data2=pd.DataFrame(dicti2, index=label2)
df=pd.concat([df,data2])
print(df)

In [ ]:
#question 5
df.drop("attempts",axis=1)
print(df)

In [ ]:
#question 6
success=[0,0,0,0,0,0,0,0,0]
df["success"]=success
df.loc[df['score']>10,'success'] = 1
print(df)

In [92]:
#question 7
df.to_csv('my_data')